<div clas="col-lg-12">
  <app-search (search)="search($event)"></app-search>
  <div class="row">
    <ng-container *ngIf="usersGithubInfo?.length>0">
      <div class="col-lg-3 col-md-6 p-lg-3 px-lg-4 py-3 wx-md-50" *ngFor="let user of usersGithubInfo;let i=index;">
        <app-user-card [data]="user" (action)="showrepos($event)"></app-user-card>
      </div>
    </ng-container>
    <ng-container *ngIf="!(usersGithubInfo?.length >0)">
      <p class="p-3">Sorry, no data available.</p>
    </ng-container>
  </div>
</div>
