@import '../../../assets/sass/variables.scss';

.card {
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  transition: 0.3s;
  border:0;
  min-height: 280px;
  border-radius: 11px;
  &:hover {
    cursor: pointer;
  }
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img.card-img-top {
    height: 120px;
    width:120px;
    border-radius:50%;
}

.card-body {
    padding: 1rem;
    p{
      font-size: 0.9rem;
    }
}

.btn-pill {
    background-color: $primary;
    border: none;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 2px;
    cursor: pointer;
    font-size: 0.75rem;
    border-radius: 16px;
    color: white;
}
